
h1 {
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.clear {
	clear: both;
}


/* HEADER/MENU STYLES */
#menu-bar {
	width: 100%;
	height: 40px;
	background-color: black;
	border-bottom: 1px solid grey;
}

#logo {
	padding-top: 10px;
	padding-left: 20px;
	float: left;
}

#button-div {
	float: right;
	padding-top: 10px;
	padding-right: 20px;
}

#run-code {
	font-size: 16px;
	color: white;
	background-color: green;
}

#toggles {
	width: 240px;
	height: 24px;
	margin: auto;
	position: relative;
	top: 6px;
	border: 1px solid black;
	border-radius: 5px; 
}

#toggles li {
	float: left;
	border-right: 1px solid grey;
	width: 59px;
	margin: auto;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	background-color: #343436;
	color: white;
	font-family: 'Dhurjati', sans-serif;
	font-size: 20px;
}

#toggles li:hover {
	font-size: 22px;
}

#result-btn {
	border-right: none !important;
	padding-right: 1px !important;
}

.selected {
	background-color: grey !important;
	color: black !important;
	border-right: 1px solid #343436 !important;
}


/* CODE CONTAINER STYLES */
.code-container {
	height: 100%;
	width: 50%;
	float: left;
	position: relative;
}

.code-container textarea {
	width: 100%;
	height: 100%;
	border: none;
	border-right: 1px solid grey;
	font-family: 'Source Code Pro', monospace;
	font-size: 16px;
	padding: 5px;
	box-sizing: border-box;
	background-color: #343436;
}

.code-badge {
	position: absolute;
	right: 5px;
	top: 5px;
}

#CSS-container, #JS-container {
	display: none;
}

iframe {
	width: 100%;
	height: 100%;
	border: 1px dotted black;
	position: relative;
	left: 20px;
}

#html-code {
	color: #fff356;
}

#css-code {
	color: #ff5656;
}

#js-code {
	color: #568eff;
}





